nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='/') 1PG
    .collapse.navbar-collapse
      a.nav-link(href='/commands')
        i.fa.fa-code(aria-hidden='true')
        |  Commands
  .collapse.navbar-collapse.pe-3
    i.fa.fa-sign-in(aria-hidden='true')
    a.nav-link(href='/login') Login