doctype html
head
  include includes/header.pug
  
// This is the code for navbar
include includes/nav.pug


// This is the code for the content
.jumbotron.text-center
  h1.display-4 1PG
  p.lead The Best Bot You Can Ever Find. 
    i.fa.fa-star(aria-hidden='true')
  a.btn.btn-dark(href='#', role='button') Add